<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>
</head>
<body ng-app="ItaSnClient">
<div ng-controller="formCtrl">
    <form novalidate>
        Login:<br>
        <input type="text" ng-model="user.login"><br>
        Password:<br>
        <input type="text" ng-model="user.password">
        <br><br>
        <button ng-click="logIn()">Login</button>
    </form>
    <p>{{user}}</p>
    <p>{{accessToken}}</p>
</div>

<script>
    var app = angular.module('ItaSnClient', ["ngStorage"]);
    app.controller('formCtrl', function($scope, $http, $localStorage) {
        $scope.logIn = function() {
            $http({
                method : "POST",
                url : "http://127.0.0.1:8080/oauth/token?password=" + $scope.user.password + "&username=" + $scope.user.login + "&grant_type=password&scope=write&client_secret=123456&client_id=ita-sn-ws",
                headers: {
                    "Authorization" : "Basic " + btoa("ita-sn-ws:123456")
                }
            }).then(function mySucces(response) {
                $localStorage.accessToken = response.data.access_token;
                $scope.accessToken = $localStorage.accessToken;
            }, function myError(response) {
                //TODO handle error response
                //$scope.resp = response.data.message;
            });
        };
    });
</script>
</body>
</html>
