<div class="col-sm-12 col-sm-12-navbar">
    <nav role="navigation" class="navbar navbar-default">
        <!-- Toggle menu for mobile display -->

        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                                    <span class="sr-only">
                                        Toggle navigation
                                    </span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- default menu -->
        <nav id="navbarCollapse" class="collapse navbar-collapse">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-6">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#/home">
                            <img src="img/INTITASico.png" alt="INTITAS" class="icon-kor"/>
                        </a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li>
                        </li>
                        <li>
                            <a class="a-style-kor" href="#/group">
                                <img src="img/groupico.png" alt="group" class="icon-kor"/>
                                <br>Група
                            </a>
                        </li>
                        <li>
                            <a class="a-style-kor" href="#/friends">
                                <img src="img/friedsico.png" alt="frieds" class="icon-kor"/>
                                <br>Друзі
                            </a>
                        </li>
                        <li>
                            <a class="a-style-kor" href="#/news">
                                <img src="img/newsico.png" alt="news" class="icon-kor"/>
                                <br>Новини
                            </a>
                        </li>
                        <li>
                            <a class="a-style-kor" href="#/photo">
                                <img src="img/cameraico.png" alt="foto" class="icon-kor"/>
                                <br>Фото
                            </a>
                        </li>
                        <li>
                            <a class="a-style-kor" href="#/video">
                                <img src="img/videoico.png" alt="video" class="icon-kor"/>
                                <br>Відео
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <ul class="nav navbar-nav navbar">
                        <li style="margin: 40px 0 0 0">
                            <form>
                                    <span class="input-group">
                                            <input class="search-form" type="text" name="search" value=""
                                                   placeholder="Пошук"/>
                                            <a href="#">
                                                <img src="img/searchico.png" alt="group"/>
                                            </a>
                                    </span>
                            </form>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                <img src="img/circleMiniAva.png" class="img-circle icon-kor" alt="ava" width="44"
                                     height="44"/>
                                <img src="img/shapeico.png" alt="group"/>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#/personal">Основне</a></li>
                                <li><a href="#/contacts">Контакти</a></li>
                                <li><a href="#/education">Освіта</a></li>
                                <li><a href="#/career">Кар'єра</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </nav>
    </nav>
</div>